.table-style {
  max-height: 300px;
  overflow-x: auto;
  width: 100%;
}

.thead {
  background-color: rgb(175, 175, 175);
}

.tbl-header {
  background-color: rgb(175, 175, 175);
  border-collapse: separate;
  padding: 0.5rem;
}

.tr, th {
  background-color: rgb(175, 175, 175);
  padding: 1rem;
  white-space: nowrap;
}

.tbody, tr, td {
  overflow-wrap: break-word;
  padding: 0.5rem;
  white-space: nowrap;
  width: 20%;
}

tbody, tr:nth-child( odd ) {
  background-color: white;
}
