.table-style {
  color: rgb(20, 39, 0);
  max-height: 300px;
  overflow-x: auto;
  width: 100%;
}

.tbl-header {
  background-color: rgb(181, 185, 159);
  border-collapse: separate;
  padding: 0.5rem;
  width: 100%;
}

.tr {
  background-color: rgb(181, 185, 159);
  white-space: nowrap;
}

th {
  background-color: rgb(181, 185, 159);
  padding: 1rem;

  /* white-space: nowrap; */
}

td {
  overflow-wrap: break-word;
  padding: 0.5rem;
  white-space: nowrap;
  width: 20%;
}

/* .tr, th {
  background-color: rgb(181, 185, 159);
  padding: 1rem;
  white-space: nowrap;
}

.tbody, tr, td {
  overflow-wrap: break-word;
  padding: 0.5rem;
  white-space: nowrap;
  width: 20%;
} */

tbody, tr:nth-child( odd ) {
  background-color: white;
}
