.filter-color {
  color: white;
}

.App {
  margin: 4vh;
  text-align: center;
}

/* .App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
} */

::-webkit-scrollbar {
  background-color: rgba(238, 238, 238, 0.3);
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(119, 119, 0);
}
